:root {
    --background-color: #181818;
    --primary-color: red;
    --secondary-color: whitesmoke;
    --tertiary-color: red;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
}