

#tickets-table.tickets-data.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.fade-in.htmx-settling {
    opacity: 1;
}
.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
}
.fade-out.htmx-swapping {
    opacity: 0;
}
